<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="/style/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>


<body>

<div class="container">
    <div class="row" id="gameBlock">

    </div>
    <div class="row" id="gameHistoryblock"></div>
</div>


<script>
    function gameShow() {
        fetch(`http://localhost:8000/api/game/single/${location.pathname.split('/')[2]}`, {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then((data) => {
            return data.json();
        }).then((data) => {
            let element = document.querySelector("#gameBlock");
            element.innerHTML += `<div class="col-2 block"> ${data.start} - ${data.end},  nicnames ${data.gamer1.username}  TYPE : ${data.type}</div>`;

            return fetch(`http://localhost:8000/api/history/${location.pathname.split('/')[2]}`, {
                method: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            });

        }).then((data) => {
            return data.json();
        }).then((data) => {

            let element = document.querySelector("#gameHistoryblock");

            for (let i = 0; i < data.length; i++) {
                element.innerHTML += ` <div class="col-2 block">Sign :${((i % 2) === 0) ? 'X' : '0'} coordination(${data[i].row} - ${data[i].column}),   Bot : ${data[i].bot}</div>`;
            }


            console.log(data);
        });
    }

    gameShow(0);
</script>

</body>
</html>